#container {
    position: relative;
    margin-left: auto;
    margin-right: auto;
}
#mainImg {
    position: absolute;
    top: 0px;
    left: 0px;
    border: 1px solid #000000;
    border-radius: 6px;
}
.topLeft {
    position: absolute;
    top: 0px;
    right: 0px;
}
.topRight {
    position: absolute;
    top : 0px;
    left: 0px;
}
.bottomLeft {
    position: absolute;
    bottom: 0px;
    left: 0px;
}
.bottomRight {
    position: absolute;
    bottom: 0px;
    right: 0px;
}